### SublimeText3 ###
*.sublime-project
*.sublime-workspace

### Vagrant ###
**/.vagrant

### Node.js ###
**/*node_modules/*
**/package-lock.json

### Python ###
**/*.pyc

### Ansible ###
ansible/vagrantIps/*.ip_addr.info
ansible/minikubeLab/*.crt
ansible/minikubeLab/*.key
**/*.retry